In [147]:
import os

path = os.getcwd()

In [148]:
path

'/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы'

In [149]:
list(os.walk(path))

[('/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы',
  ['Use', 'Log', '.ipynb_checkpoints', 'Задания', 'Data'],
  ['Чудновец.txt',
   'example.csv',
   'новикова.txt',
   'Python + MySQL + DB.ipynb']),
 ('/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Use',
  [],
  ['Links.txt', 'New.txt']),
 ('/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Log',
  [],
  ['Log(08.03.21).txt', 'Log(10.03.21).txt']),
 ('/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/.ipynb_checkpoints',
  [],
  ['Python + MySQL + DB-checkpoint.ipynb']),
 ('/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Задания',
  [],
  ['LABORATORNAYa_RABOTA_2_SQL.doc',
   'SQL_laboratornaya_rabota_1_1.docx',
   '.~lock.SQL_laboratornaya_rabota_1_1.docx#']),
 ('/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Data',
  [],
  ['ORDERS.data',
   'STATE.data',
   'MANUFACT.data',
   '6.png',
   '4.png',
   'STOCK.data',
   'CUSTOMER.data',
   '1.png',
   '3.png',
   '2.png',
   'ITEMS.data',
   '5.png'])]

In [150]:
dirs = [x[0] for x in os.walk(path)]

In [151]:
dirs

['/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы',
 '/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Use',
 '/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Log',
 '/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/.ipynb_checkpoints',
 '/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Задания',
 '/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Data']

In [152]:
data_path = dirs[-1]

In [153]:
data_path

'/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Data'

In [154]:
data_list = list(os.walk(data_path))[0][-1]

In [155]:
data_list

['ORDERS.data',
 'STATE.data',
 'MANUFACT.data',
 '6.png',
 '4.png',
 'STOCK.data',
 'CUSTOMER.data',
 '1.png',
 '3.png',
 '2.png',
 'ITEMS.data',
 '5.png']

In [156]:
import csv
 
def csv_reader(file_obj):
    """
    Read a csv file
    """
    reader = csv.reader(file_obj, delimiter='\t') #, delimiter='\n'
    for row in reader:
        for n, i in enumerate(row):
            if i == "":
                row[n] = None
        print(row)
        #print("|".join(row))

In [157]:
def csv_write_to_table(file_obj, table):
    """
    INSERT IN DB
    """
    reader = csv.reader(file_obj, delimiter='\t') #, delimiter='\n'
    rows = list(reader)
    fields = rows[0]
    print(','.join(fields))
#     "'%(2)s','%(3)s','%(4)s','%(5)s','%(6)s','%(7)s','%(8)s','%(9)s','%(10)s','%(11)s'"
    
    query_template = "INSERT INTO %(0)s (%(1)s) VALUES (%(2)s);"
    d_general = {'0': table}

    con = connect_to_db()
    with con:
    
        cur = con.cursor()

        for row in rows[1:]:
    #         for n, i in enumerate(row):
    #             if i == "":
    #                 row[n] = None
#             print([i for i, val in enumerate(row) if val == ''])
#             row[5] = row[5].replace(',', '.') #ITEMS
#             row[3] = row[3].replace(',', '.') #STOCK
            empty_vals = [i for i, val in enumerate(row) if val == '']
            cur_fields = fields.copy()
            for count, i in enumerate(empty_vals):
                cur_fields.pop(i-count)
                row.pop(i-count)
            d_general['1'] = ','.join(cur_fields)
            d_general['2'] = ','.join(["'" + val + "'" for val in row])
#             print(query_template % d_general)
            cur.execute(query_template % d_general)
#             cur.fetchone()
            con.commit()
            print(query_template % d_general)
            #print("|".join(row))

In [128]:
def csv_write_to_table_2(file_obj, table):
    """
    INSERT IN DB
    """
    reader = csv.reader(file_obj, delimiter='\t') #, delimiter='\n'
    rows = list(reader)
    fields = rows[0]
    print(','.join(fields))
#     "'%(2)s','%(3)s','%(4)s','%(5)s','%(6)s','%(7)s','%(8)s','%(9)s','%(10)s','%(11)s'"
    
    query_template = "INSERT INTO %(0)s (%(1)s) VALUES (%(2)s);"
    d_general = {'0': table}

    con = connect_to_db()
    with con:
    
        cur = con.cursor()

        for row in rows[1:]:
    #         for n, i in enumerate(row):
    #             if i == "":
    #                 row[n] = None
            row[1] = change_date_str(row[1])
            row[6] = change_date_str(row[6])
            row[9] = change_date_str(row[9])
            row[7] = row[7].replace(',', '.')
            row[8] = row[8].replace(',', '.')
#             print([i for i, val in enumerate(row) if val == ''])
            empty_vals = [i for i, val in enumerate(row) if val == '']
            cur_fields = fields.copy()
            for count, i in enumerate(empty_vals):
                cur_fields.pop(i-count)
                row.pop(i-count)
            d_general['1'] = ','.join(cur_fields)
            d_general['2'] = ','.join(["'" + val + "'" for val in row])
#             print(query_template % d_general)
            cur.execute(query_template % d_general)
#             cur.fetchone()
            con.commit()
            print(query_template % d_general)
            #print("|".join(row))

In [158]:
from datetime import datetime

def change_date_str(str_1):
    if not str_1:
        return str_1
    date = datetime.strptime(str_1, "%d.%m.%Y")
    return date.strftime("%Y-%m-%d")

In [159]:
def connect_to_db():
    return pymysql.connect(host='localhost', user='root', password='66#r#0cZqe', db='stores')

In [160]:
# def create_values_str(row):
#     d = dict()
#     val_template_list = []
#     for i, val in enumerate(range(len(row))):
#         d[str(i)] = row[val]
#         val_template_list.append("'%("+ str(i) +")s'")
#     val_template = ','.join(val_template_list)
#     return val_template %

In [13]:
ORDERS_path = data_path + os.sep + data_list[0]
with open(ORDERS_path, "r") as f_obj:
    csv_reader(f_obj)

['ORDER_NUM', 'ORDER_DATE', 'CUSTOMER_NUM', 'SHIP_INSTRUCT', 'BACKLOG', 'PO_NUM', 'SHIP_DATE', 'SHIP_WEIGHT', 'SHIP_CHARGE', 'PAID_DATE']
['1001', '20.05.1994', '104', 'express', 'n', 'B77836', '01.06.1994', '20,4', '10', '22.07.1994']
['1002', '21.05.1994', '101', 'PO on box; deliver to back door only', 'n', '9270', '26.05.1994', '50,6', '15,3', '03.06.1994']
['1003', '22.05.1994', '104', 'express', 'n', 'B77890', '23.05.1994', '35,6', '10,8', '14.06.1994']
['1004', '22.05.1994', '106', 'ring bell twice', 'y', '8006', '30.05.1994', '95,8', '19,2', None]
['1005', '24.05.1994', '116', 'call before delivery', 'n', '2865', '09.06.1994', '80,8', '16,2', '21.06.1994']
['1006', '30.05.1994', '112', 'after 10 am', 'y', 'Q13557', None, '70,8', '14,2', None]
['1007', '31.05.1994', '117', None, 'n', '278693', '05.06.1994', '125,9', '25,2', None]
['1008', '07.06.1994', '110', 'closed Monday', 'y', 'LZ230', '06.07.1994', '45,6', '13,8', '21.07.1994']
['1009', '14.06.1994', '111', 'next door to grocery', 'n', '4745', '21.06.1994', '20,4', '10', '21.08.1994']
['1010', '17.06.1994', '115', 'deliver 776 King St. if no answer', 'n', '429Q', '29.06.1994', '40,6', '12,3', '22.08.1994']
['1011', '18.06.1994', '104', 'express', 'n', 'B77897', '03.07.1994', '10,4', '5', '29.08.1994']
['1012', '18.06.1994', '117', None, 'n', '278701', '29.06.1994', '70,8', '14,2', None]
['1013', '22.06.1994', '104', 'express', 'n', 'B77930', '10.07.1994', '60,8', '12,2', '31.07.1994']
['1014', '25.06.1994', '106', 'ring bell, kick door loudly', 'n', '8052', '03.07.1994', '40,6', '12,3', '10.07.1994']
['1015', '27.06.1994', '110', 'closed Mondays', 'n', 'MA003', '16.07.1994', '20,6', '6,3', '31.08.1994']
['1016', '29.06.1994', '119', 'delivery entrance off Camp St.', 'n', 'PC6782', '12.07.1994', '35', '11,8', None]
['1017', '09.07.1994', '120', 'North side of clubhouse', 'n', 'DM354331', '13.07.1994', '60', '18', None]
['1018', '10.07.1994', '121', 'SW corner of Biltmore Mall', 'n', 'S22942', '13.07.1994', '70,5', '20', '06.08.1994']
['1019', '11.07.1994', '122', 'closed til noon Mondays', 'n', 'Z55709', '16.07.1994', '90', '23', '06.08.1994']

In [14]:
csv_path = path + os.sep + 'example.csv'
with open(csv_path, "r") as f_obj:
    csv_reader(f_obj)

['first_name,last_name,address,city,state,zip_code']
['Tyrese,Hirthe,1404 Turner Ville,Strackeport,NY,19106-8813']
['Jules,Dicki,2410 Estella Cape Suite 061,Lake Nickolasville,ME,00621-7435']
['Dedric,Medhurst,6912 Dayna Shoal,Stiedemannberg,SC,43259-2273']
[]

In [161]:
import pymysql

In [162]:
con = pymysql.connect(host='localhost', user='root', 
    password='66#r#0cZqe', db='stores')

with con:
    
    cur = con.cursor()
    cur.execute("CREATE TABLE CHUDNOVETS_CUSTOMER (\
    CUSTOMER_NUM  INTEGER,\
    FNAME         CHAR(15),\
    LNAME         CHAR(15),\
    COMPANY       CHAR(20),\
    ADDRESS1      CHAR(20),\
    ADDRESS2      CHAR(20),\
    CITY          CHAR(15),\
    STATE         CHAR(2),\
    ZIPCODE       CHAR(5),\
    PHONE         CHAR(18)\
);")
 
    cur.fetchone()

OperationalError: (1050, "Table 'CHUDNOVETS_CUSTOMER' already exists")

In [164]:
"INSERT INTO CHUDNOVETS_CUSTOMER (%(0)s) VALUES (%(1)s,'%(2)s','%(3)s','%(4)s','%(5)s','%(6)s','%(7)s','%(8)s','%(9)s','%(10)s');"

"INSERT INTO CHUDNOVETS_CUSTOMER (%(0)s) VALUES (%(1)s,'%(2)s','%(3)s','%(4)s','%(5)s','%(6)s','%(7)s','%(8)s','%(9)s','%(10)s');"

In [165]:
print("%(1)s %(2)s" % {'1': "Ji", '2': "kk"})

Ji kk

In [166]:
"%(1)s %(2)s" % {'1': "Ji", '2': "kk"}

'Ji kk'

In [167]:
create_values_str(['1001', '20.05.1994', '104', 'express', 'n', 'B77836', '01.06.1994', '20,4', '10', '22.07.1994'])

'%(0)s','%(1)s','%(2)s','%(3)s','%(4)s','%(5)s','%(6)s','%(7)s','%(8)s','%(9)s'

{'0': '1001',
 '1': '20.05.1994',
 '2': '104',
 '3': 'express',
 '4': 'n',
 '5': 'B77836',
 '6': '01.06.1994',
 '7': '20,4',
 '8': '10',
 '9': '22.07.1994'}

In [168]:
CUSTOMER_path

'/home/ivan/Рабочий стол/Учёба/8 семестр/SQL/Практика/Лабы/Data/CUSTOMER.data'

In [169]:
','.join(['102', 'Carole', 'Sadler', 'Sports Spot', '785 Geary St', '', 'San Francisco', 'CA', '94117', '415-822-1289'])

'102,Carole,Sadler,Sports Spot,785 Geary St,,San Francisco,CA,94117,415-822-1289'

In [170]:
"INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('102','Carole','Sadler','Sports Spot','785 Geary St','','San Francisco','CA','94117','415-822-1289');"

"INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('102','Carole','Sadler','Sports Spot','785 Geary St','','San Francisco','CA','94117','415-822-1289');"

In [171]:
row = ['1003', '22.05.1994', '104', 'express', 'n', 'B77890', '23.05.1994', '35,6', '10,8', '14.06.1994']
print(','.join(["'" + val + "'" for val in row]))

'1003','22.05.1994','104','express','n','B77890','23.05.1994','35,6','10,8','14.06.1994'

In [172]:
con = pymysql.connect(host='localhost', user='root', 
    password='66#r#0cZqe', db='stores')

with con:
    
    cur = con.cursor()
#     cur.execute("INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('101','Ludwig','Pauli','All Sports Supplies','213 Erstwild Court','','Sunnyvale','CA','94086','408-789-8075');")
#     cur.fetchone()
    cur.execute("SELECT * FROM CHUDNOVETS_CUSTOMER;")
    result = cur.fetchall()

In [173]:
result

((101,
  'Ludwig',
  'Pauli',
  'All Sports Supplies',
  '213 Erstwild Court',
  None,
  'Sunnyvale',
  'CA',
  '94086',
  '408-789-8075'),
 (102,
  'Carole',
  'Sadler',
  'Sports Spot',
  '785 Geary St',
  None,
  'San Francisco',
  'CA',
  '94117',
  '415-822-1289'),
 (103,
  'Philip',
  'Currie',
  'Phil`s Sports',
  '654 Poplar',
  'P. O. Box 3498',
  'Palo Alto',
  'CA',
  '94303',
  '415-328-4543'),
 (104,
  'Anthony',
  'Higgins',
  'Play Ball!',
  'East Shopping Cntr.',
  '422 Bay Road',
  'Redwood City',
  'CA',
  '94026',
  '415-368-1100'),
 (105,
  'Raymond',
  'Vector',
  'Los Altos Sports',
  '1899 La Loma Drive',
  None,
  'Los Altos',
  'CA',
  '94022',
  '415-776-3249'),
 (106,
  'George',
  'Watson',
  'Watson & Son',
  '1143 Carver Place',
  None,
  'Mountain View',
  'CA',
  '94063',
  '415-389-8789'),
 (107,
  'Charles',
  'Ream',
  'Athletic Supplies',
  '41 Jordan Avenue',
  None,
  'Palo Alto',
  'CA',
  '94304',
  '415-356-9876'),
 (108,
  'Donald',
  'Quinn',
  'Quinn`s Sports',
  '587 Alvarado',
  None,
  'Redwood City',
  'CA',
  '94063',
  '415-544-8729'),
 (109,
  'Jane',
  'Miller',
  'Sport Stuff',
  'Mayfair Mart',
  '7345 Ross Blvd.',
  'Sunnyvale',
  'CA',
  '94086',
  '408-723-8789'),
 (110,
  'Roy',
  'Jaeger',
  'AA Athletics',
  '520 Topaz Way',
  None,
  'Redwood City',
  'CA',
  '94062',
  '415-743-3611'),
 (111,
  'Frances',
  'Keyes',
  'Sports Center',
  '3199 Sterling Court',
  None,
  'Sunnyvale',
  'CA',
  '94085',
  '408-277-7245'),
 (112,
  'Margaret',
  'Lawson',
  'Runners & Others',
  '234 Wyandotte Way',
  None,
  'Los Altos',
  'CA',
  '94022',
  '415-887-7235'),
 (113,
  'Lana',
  'Beatty',
  'Sportstown',
  '654 Oak Grove',
  None,
  'Menlo Park',
  'CA',
  '94025',
  '415-356-9982'),
 (114,
  'Frank',
  'Albertson',
  'Sporting Place',
  '947 Waverly Place',
  None,
  'Redwood City',
  'CA',
  '94062',
  '415-886-6677'),
 (115,
  'Alfred',
  'Grant',
  'Gold Medal Sports',
  '776 Gary Avenue',
  None,
  'Menlo Park',
  'CA',
  '94025',
  '415-356-1123'),
 (116,
  'Jean',
  'Parmelee',
  'Olympic City',
  '1104 Spinosa Drive',
  None,
  'Mountain View',
  'CA',
  '94040',
  '415-534-8822'),
 (117,
  'Arnold',
  'Sipes',
  'Kids Korner',
  '850 Lytton Court',
  None,
  'Redwood City',
  'CA',
  '94063',
  '415-245-4578'),
 (118,
  'Dick',
  'Baxter',
  'Blue Ribbon Sports',
  '5427 College',
  None,
  'Oakland',
  'CA',
  '94609',
  '415-655-0011'),
 (119,
  'Bob',
  'Shorter',
  'The Triathletes Club',
  '2405 Kings Highway',
  None,
  'Cherry Hill',
  'NJ',
  '08002',
  '609-663-6079'),
 (120,
  'Fred',
  'Jewell',
  'Century Pro Shop',
  '6627 N. 17th Way',
  None,
  'Phoenix',
  'AZ',
  '85016',
  '602-265-8754'),
 (121,
  'Jason',
  'Wallack',
  'City Sports',
  'Lake Biltmore Mall',
  '350 W. 23rd Street',
  'Wilmington',
  'DE',
  '19898',
  '302-366-7511'),
 (122,
  'Cathy',
  'O`Brian',
  'The Sporting Life',
  '543 Nassau Street',
  None,
  'Princeton',
  'NJ',
  '08540',
  '609-342-0054'))

In [129]:
CUSTOMER_path = data_path + os.sep + data_list[6]
with open(CUSTOMER_path, "r") as f_obj:
    csv_write_to_table(f_obj, 'CHUDNOVETS_CUSTOMER')

CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('101','Ludwig','Pauli','All Sports Supplies','213 Erstwild Court','Sunnyvale','CA','94086','408-789-8075');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('102','Carole','Sadler','Sports Spot','785 Geary St','San Francisco','CA','94117','415-822-1289');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('103','Philip','Currie','Phil`s Sports','654 Poplar','P. O. Box 3498','Palo Alto','CA','94303','415-328-4543');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('104','Anthony','Higgins','Play Ball!','East Shopping Cntr.','422 Bay Road','Redwood City','CA','94026','415-368-1100');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('105','Raymond','Vector','Los Altos Sports','1899 La Loma Drive','Los Altos','CA','94022','415-776-3249');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('106','George','Watson','Watson & Son','1143 Carver Place','Mountain View','CA','94063','415-389-8789');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('107','Charles','Ream','Athletic Supplies','41 Jordan Avenue','Palo Alto','CA','94304','415-356-9876');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('108','Donald','Quinn','Quinn`s Sports','587 Alvarado','Redwood City','CA','94063','415-544-8729');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('109','Jane','Miller','Sport Stuff','Mayfair Mart','7345 Ross Blvd.','Sunnyvale','CA','94086','408-723-8789');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('110','Roy','Jaeger','AA Athletics','520 Topaz Way','Redwood City','CA','94062','415-743-3611');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('111','Frances','Keyes','Sports Center','3199 Sterling Court','Sunnyvale','CA','94085','408-277-7245');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('112','Margaret','Lawson','Runners & Others','234 Wyandotte Way','Los Altos','CA','94022','415-887-7235');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('113','Lana','Beatty','Sportstown','654 Oak Grove','Menlo Park','CA','94025','415-356-9982');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('114','Frank','Albertson','Sporting Place','947 Waverly Place','Redwood City','CA','94062','415-886-6677');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('115','Alfred','Grant','Gold Medal Sports','776 Gary Avenue','Menlo Park','CA','94025','415-356-1123');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('116','Jean','Parmelee','Olympic City','1104 Spinosa Drive','Mountain View','CA','94040','415-534-8822');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('117','Arnold','Sipes','Kids Korner','850 Lytton Court','Redwood City','CA','94063','415-245-4578');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('118','Dick','Baxter','Blue Ribbon Sports','5427 College','Oakland','CA','94609','415-655-0011');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('119','Bob','Shorter','The Triathletes Club','2405 Kings Highway','Cherry Hill','NJ','08002','609-663-6079');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('120','Fred','Jewell','Century Pro Shop','6627 N. 17th Way','Phoenix','AZ','85016','602-265-8754');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,ADDRESS2,CITY,STATE,ZIPCODE,PHONE) VALUES ('121','Jason','Wallack','City Sports','Lake Biltmore Mall','350 W. 23rd Street','Wilmington','DE','19898','302-366-7511');
INSERT INTO CHUDNOVETS_CUSTOMER (CUSTOMER_NUM,FNAME,LNAME,COMPANY,ADDRESS1,CITY,STATE,ZIPCODE,PHONE) VALUES ('122','Cathy','O`Brian','The Sporting Life','543 Nassau Street','Princeton','NJ','08540','609-342-0054');

In [130]:
ORDERS_path = data_path + os.sep + data_list[0]
with open(ORDERS_path, "r") as f_obj:
    csv_write_to_table_2(f_obj, 'CHUDNOVETS_ORDERS')

ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1001','1994-05-20','104','express','n','B77836','1994-06-01','20.4','10','1994-07-22');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1002','1994-05-21','101','PO on box; deliver to back door only','n','9270','1994-05-26','50.6','15.3','1994-06-03');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1003','1994-05-22','104','express','n','B77890','1994-05-23','35.6','10.8','1994-06-14');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE) VALUES ('1004','1994-05-22','106','ring bell twice','y','8006','1994-05-30','95.8','19.2');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1005','1994-05-24','116','call before delivery','n','2865','1994-06-09','80.8','16.2','1994-06-21');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_WEIGHT,SHIP_CHARGE) VALUES ('1006','1994-05-30','112','after 10 am','y','Q13557','70.8','14.2');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE) VALUES ('1007','1994-05-31','117','n','278693','1994-06-05','125.9','25.2');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1008','1994-06-07','110','closed Monday','y','LZ230','1994-07-06','45.6','13.8','1994-07-21');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1009','1994-06-14','111','next door to grocery','n','4745','1994-06-21','20.4','10','1994-08-21');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1010','1994-06-17','115','deliver 776 King St. if no answer','n','429Q','1994-06-29','40.6','12.3','1994-08-22');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1011','1994-06-18','104','express','n','B77897','1994-07-03','10.4','5','1994-08-29');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE) VALUES ('1012','1994-06-18','117','n','278701','1994-06-29','70.8','14.2');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1013','1994-06-22','104','express','n','B77930','1994-07-10','60.8','12.2','1994-07-31');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1014','1994-06-25','106','ring bell, kick door loudly','n','8052','1994-07-03','40.6','12.3','1994-07-10');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1015','1994-06-27','110','closed Mondays','n','MA003','1994-07-16','20.6','6.3','1994-08-31');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE) VALUES ('1016','1994-06-29','119','delivery entrance off Camp St.','n','PC6782','1994-07-12','35','11.8');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE) VALUES ('1017','1994-07-09','120','North side of clubhouse','n','DM354331','1994-07-13','60','18');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1018','1994-07-10','121','SW corner of Biltmore Mall','n','S22942','1994-07-13','70.5','20','1994-08-06');
INSERT INTO CHUDNOVETS_ORDERS (ORDER_NUM,ORDER_DATE,CUSTOMER_NUM,SHIP_INSTRUCT,BACKLOG,PO_NUM,SHIP_DATE,SHIP_WEIGHT,SHIP_CHARGE,PAID_DATE) VALUES ('1019','1994-07-11','122','closed til noon Mondays','n','Z55709','1994-07-16','90','23','1994-08-06');

In [135]:
ITEMS_path = data_path + os.sep + data_list[10]
with open(ITEMS_path, "r") as f_obj:
    csv_write_to_table(f_obj, 'CHUDNOVETS_ITEMS')

ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1001','1','HRO','1','250');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1002','4','HSK','1','960');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1003','9','ANZ','1','20');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1004','1','HRO','1','250');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1005','5','NRG','10','280');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1006','5','SMT','5','125');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1007','1','HRO','1','250');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1008','8','ANZ','1','840');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1009','1','SMT','1','450');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1010','6','SMT','1','36');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1011','5','ANZ','5','99');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1012','8','ANZ','1','840');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1013','5','ANZ','1','19.8');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1014','4','HSK','1','960');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1015','1','SMT','1','450');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1016','101','SHM','2','136');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1017','201','NKL','4','150');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1018','307','PRC','2','500');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('1','1019','111','SHM','3','1499.97');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1002','3','HSK','1','240');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1003','8','ANZ','1','840');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1004','2','HRO','1','126');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1005','5','ANZ','10','198');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1006','5','NRG','5','140');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1007','2','HRO','1','126');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1008','9','ANZ','5','100');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1010','6','ANZ','1','48');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1012','9','ANZ','10','200');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1013','6','SMT','1','36');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1014','4','HRO','1','480');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1016','109','PRC','3','90');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1017','202','KAR','1','230');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('2','1018','302','KAR','3','15');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1003','5','ANZ','5','99');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1004','3','HSK','1','240');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1005','6','SMT','1','36');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1006','5','ANZ','5','99');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1007','3','HSK','1','240');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1013','6','ANZ','1','48');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1016','110','HSK','1','308');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1017','301','SHM','2','204');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('3','1018','110','PRC','1','236');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1004','1','HSK','1','800');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1005','6','ANZ','1','48');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1006','6','SMT','1','36');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1007','4','HRO','1','480');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1013','9','ANZ','2','40');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1016','114','PRC','1','120');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('4','1018','5','SMT','4','100');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('5','1006','6','ANZ','1','48');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('5','1007','7','HRO','1','600');
INSERT INTO CHUDNOVETS_ITEMS (ITEM_NUM,ORDER_NUM,STOCK_NUM,MANU_CODE,QUANTITY,TOTAL_PRICE) VALUES ('5','1018','304','HRO','1','280');

In [140]:
STOCK_path = data_path + os.sep + data_list[5]
with open(STOCK_path, "r") as f_obj:
    csv_write_to_table(f_obj, 'CHUDNOVETS_STOCK')

STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('1','HRO','baseball gloves','250','case','10 gloves/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('1','HSK','baseball gloves','800','case','10 gloves/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('1','SMT','baseball gloves','450','case','10 gloves/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('2','HRO','baseball','126','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('3','HSK','baseball bat','240','case','12/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('3','SHM','baseball bat','280','case','12/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('4','HRO','football','480','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('4','HSK','football','960','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('5','ANZ','tennis racquet','19.8','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('5','NRG','tennis racquet','28','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('5','SMT','tennis racquet','25','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('6','ANZ','tennis ball','48','case','24 cans/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('6','SMT','tennis ball','36','case','24 cans/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('7','HRO','basketball','600','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('8','ANZ','volleyball','840','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('9','ANZ','volleyball net','20','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('101','PRC','bicycle tires','88','box','4/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('101','SHM','bicycle tires','68','box','4/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('102','PRC','bicycle brakes','480','case','4 sets/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('102','SHM','bicycle brakes','220','case','4 sets/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('103','PRC','frnt derailleur','20','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('104','PRC','rear derailleur','58','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('105','PRC','bicycle wheels','53','pair','pair');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('105','SHM','bicycle wheels','80','pair','pair');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('106','PRC','bicycle stem','23','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('107','PRC','bicycle saddle','70','pair','pair');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('108','SHM','crankset','45','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('109','PRC','pedal binding','30','case','6 pairs/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('109','SHM','pedal binding','200','case','4 pairs/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('110','ANZ','helmet','244','case','4/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('110','HRO','helmet','260','case','4/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('110','HSK','helmet','308','case','4/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('110','PRC','helmet','236','case','4/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('110','SHM','helmet','228','case','4/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('111','SHM','10-spd, assmbld','499.99','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('112','SHM','12-spd, assmbld','549','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('113','SHM','18-spd, assmbld','685.9','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('114','PRC','bicycle gloves','120','case','10 pairs/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('201','ANZ','golf shoes','75','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('201','KAR','golf shoes','90','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('201','NKL','golf shoes','37.5','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('202','KAR','std woods','230','case','2 sets/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('202','NKL','metal woods','174','case','2 sets/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('203','NKL','irons/wedge','670','case','2 sets/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('204','KAR','putter','45','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('205','ANZ','3 golf balls','312','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('205','HRO','3 golf balls','312','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('205','NKL','3 golf balls','312','case','24/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('301','ANZ','running shoes','95','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('301','HRO','running shoes','42.5','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('301','KAR','running shoes','87','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('301','NKL','running shoes','97','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('301','PRC','running shoes','75','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('301','SHM','running shoes','102','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('302','HRO','ice pack','4.5','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('302','KAR','ice pack','5','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('303','KAR','socks','36','box','24 pairs/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('303','PRC','socks','48','box','24 pairs/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('304','ANZ','watch','170','box','10/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('304','HRO','watch','280','box','10/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('305','HRO','first-aid kit','48','case','4/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('306','PRC','tandem adapter','160','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('306','SHM','tandem adapter','190','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('307','PRC','infant jogger','250','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('308','PRC','twin jogger','280','each','each');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('309','HRO','ear drops','40','case','20/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('309','SHM','ear drops','40','case','20/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('310','ANZ','kick board','84','case','12/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('310','SHM','kick board','80','case','10/case');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('311','SHM','water gloves','48','box','4 pairs/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('312','HRO','racer goggles','72','box','12/box');

INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('312','SHM','racer goggles','96','box','12/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('313','ANZ','swim cap','60','box','12/box');
INSERT INTO CHUDNOVETS_STOCK (STOCK_NUM,MANU_CODE,DESCRIPTION,UNIT_PRICE,UNIT,UNIT_DESCR) VALUES ('313','SHM','swim cap','72','box','12/box');

In [143]:
MANUFACT_path = data_path + os.sep + data_list[2]
with open(MANUFACT_path, "r") as f_obj:
    csv_write_to_table(f_obj, 'CHUDNOVETS_MANUFACT')

MANU_CODE,MANU_NAME,LEAD_TIME
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('ANZ','Anza','5');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('HRO','Hero','4');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('HSK','Husky','5');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('KAR','Karsten','21');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('NKL','Nikolus','8');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('NRG','Norge','7');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('PRC','ProCycle','9');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('SHM','Shimara','30');
INSERT INTO CHUDNOVETS_MANUFACT (MANU_CODE,MANU_NAME,LEAD_TIME) VALUES ('SMT','Smith','3');

In [146]:
STATE_path = data_path + os.sep + data_list[1]
with open(STATE_path, "r") as f_obj:
    csv_write_to_table(f_obj, 'CHUDNOVETS_STATE')

CODE,SNAME
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('AK','Alaska');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('AL','Alabama');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('AR','Arkansas');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('AZ','Arizona');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('CA','California');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('CO','Colorado');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('CT','Connecticut');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('DC','D.C.');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('DE','Delaware');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('FL','Florida');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('GA','Georgia');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('HI','Hawaii');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('IA','Iowa');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('ID','Idaho');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('IL','Illinois');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('IN','Indiana');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('KS','Kansas');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('KY','Kentucky');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('LA','Louisiana');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MA','Massachusetts');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MD','Maryland');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('ME','Maine');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MI','Michigan');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MN','Minnesota');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MO','Missouri');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MS','Mississippi');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('MT','Montana');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NC','North Carolina');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('ND','North Dakota');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NE','Nebraska');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NH','New Hampshire');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NJ','New Jersey');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NM','New Mexico');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NV','Nevada');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('NY','New York');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('OH','Ohio');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('OK','Oklahoma');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('OR','Oregon');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('PA','Pennsylvania');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('PR','Puerto Rico');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('RI','Rhode Island');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('SC','South Carolina');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('SD','South Dakota');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('TN','Tennessee');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('TX','Texas');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('UT','Utah');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('VA','Virginia');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('VT','Vermont');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('WA','Washington');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('WI','Wisconsin');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('WV','West Virginia');
INSERT INTO CHUDNOVETS_STATE (CODE,SNAME) VALUES ('WY','Wyoming');